﻿@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script type="text/javascript" src="/Scripts/Index.js">

    </script>
}
<h2>Curently Runing Tasks:</h2>
<table border=1 cellspacing=0 cellpadding=0 style="width: 80%; border-color: black; border-width: 1px">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Percentage Done</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: tasks">
    <tr>
        <td data-bind="text: Num"></td>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Percentage"></td>
        <td data-bind="text: Status"></td>
        <td><a href="#" data-bind="click: $parent.ActionsTask, text: Actions"></a></td>
    </tr>
    </tbody>
</table>
<hr/>
<form data-bind="submit: addTask">
    Add task: <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
    <button type="submit">Add</button>
</form>